@{
    ViewData["Title"] = "OrgChart";
}




@section scripts {
    <script src="~/js/OrgChart.js" asp-append-version="true"></script>
    <page-load pageName="OrgChart"></page-load>
}

<div id="orgchart"></div>
